

<div class=" check">
  <div class="card shadow-lg">
    <div class="card-body" style="background-color: #ffffff">
      <h1 class="card-title">Register</h1>
      <p-toast position="top-center">
        <ng-template let-message pTemplate="message">
          <p innerHtml="{{ message.detail }}"></p>
        </ng-template>
      </p-toast>
      <form
        class="mt-3 mx-auto"
        [formGroup]="registerForm"
        autocomplete="off"
        novalidate
        (ngSubmit)="registerUser(registerForm?.value)"
      >
        <div class="mb-3 row">
          <label for="firstName" class="col-form-label col-sm-2 col-md-3"
            >First Name:</label
          >
          <div class="col-md-5">
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="form-control"
              placeholder="e.g. John"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="lastName" class="col-form-label col-sm-2 col-md-3">Last Name:</label>
          <div class="col-md-5">
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control"
              placeholder="e.g. Doe"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="email" class="col-form-label col-sm-2 col-md-3">Email:</label>
          <div class="col-md-5">
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="e.g. john.doe@example.com"
            />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('email') && hasError('email', 'email')"
              >Please provide a valid email</em
            >
            <em *ngIf="validateControl('email') && hasError('email', 'required')"
              >Email is required</em
            >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="password" class="col-form-label col-sm-2 col-md-3">Password:</label>
          <div class="col-md-5">
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Your password"
            />
          </div>
          <div class="col-md-5">
            <em
              *ngIf="
                validateControl('password') && hasError('password', 'required')
              "
              >Password is required</em
            >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="confirm" class="col-form-label col-sm-2 col-md-3"
            >Confirm Password:</label
          >
          <div class="col-md-5">
            <input
              type="password"
              id="confirm"
              formControlName="confirm"
              class="form-control"
              placeholder="Your password"
            />
          </div>
          <div class="col-md-5">
            <em
              *ngIf="
                validateControl('confirm') && hasError('confirm', 'required')
              "
              >Confirmation is required</em
            >
            <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
          </div>
        </div>
        <br />
        <div class="mb-3 row">
          <div class="col-md-1">
            <button
              type="submit"
              style="background-color: #ffbf00; border-radius: 5px;"
              class="btn btn-warning text-white btn-block"
              [disabled]="!registerForm.valid"
            >
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
